[user]
	name = Junjie Zhou
	email = menging1122@gmail.com
[init]
	defaultBranch = main
[color]
	branch = auto
	diff = auto
	interactive = auto
	status = auto
	grep = auto
[alias]
	lol = log --graph --oneline --decorate --color --all
[credential]
	helper = "!f() { /home/cs300-user/.vscode-server/bin/eaa41d57266683296de7d118f574d0c2652e1fc4/node /tmp/vscode-remote-containers-feb21696-592d-4aef-9935-24a1eb8fd940.js git-credential-helper $*; }; f"
